{% extends 'base.html' %}

{% block title %}Votes{% endblock %}

{% block header %}
   Votes
{% endblock %}

{% from "_formhelpers.html" import render_field %}
{% block content %}
  {% if status.key_ok %}
  <form method="post">
  
    <div>{{ form.key }}</div>
    <ul id="pilihan">
      {% for pilihan in form.pilihan %}
          {{ pilihan }}
          {{ pilihan.label }}
      {% endfor %}
    </ul>
    <input type="submit" value="Submit">
  </form>
  {% else %}
  <form method="post">
    <div class="container text-center mt-2 mb-2">Input Vote Key</div>
    <div class="container text-center mt-2 mb-2 col-3">
      <input id="key" name="key" required type="text" placeholder="Input Vote Key" value="" class="form-control">
    </div>
    <div class="container text-center mt-2 mb-2">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
  {% endif %}
{% endblock %}